.user-mgmt-container {
  display: flex;
}

.leftPanel-container {
  height: 75vh;
  /* background: var(--neutral); */
  padding: 5px;
}

.content-container {
  margin-left: 10px;
  padding: 10px;
  /* background: var(--neutral); */
  width: 100%;
}

.heading-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabContainer {
  padding: 10px;
  /* background: var(--neutral-subtle); */
}

.formRow {
  margin: 0px 10px;
}

.tabHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
}

.left-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.primaryText {
  font-weight: 600;
}

.secondaryText {
  font-weight: 500;
  /* color: var(--neutral-text-subtitle); */
}
